* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--white);
}

main {
  opacity: 0;
  -webkit-animation-name: showItem;
          animation-name: showItem;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

p {
  margin: 1.5em 0;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --shadow: 2px 2px 50px rgb(255, 255, 255);
  --myRed: rgb(230, 53, 53);
}

.mainHeader {
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--black);
  z-index: 2000;
  -webkit-animation-name: headerStart;
          animation-name: headerStart;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes headerStart {
  0% {
    height: 100vh;
  }
  65% {
    box-shadow: none;
  }
  100% {
    height: 3em;
    box-shadow: var(--shadow);
  }
}
@keyframes headerStart {
  0% {
    height: 100vh;
  }
  65% {
    box-shadow: none;
  }
  100% {
    height: 3em;
    box-shadow: var(--shadow);
  }
}
.mainHeader .mainLogoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 10em;
  -webkit-animation-name: logoContainerStart;
          animation-name: logoContainerStart;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes logoContainerStart {
  0% {
    top: 5%;
    right: -30%;
    opacity: 0;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        top: 5%;
        right: 80%;
      }
    }
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 40%;
    right: 30%;
  }
  100% {
    top: 0;
    right: 0%;
  }
}
@keyframes logoContainerStart {
  0% {
    top: 5%;
    right: -30%;
    opacity: 0;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        top: 5%;
        right: 80%;
      }
    }
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 40%;
    right: 30%;
  }
  100% {
    top: 0;
    right: 0%;
  }
}
.mainHeader .mainLogoContainer .mainLogo {
  position: absolute;
  margin: auto;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  z-index: 2010;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 svg {
  height: 100%;
  width: auto;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 svg path {
  fill: currentColor;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM {
  -webkit-animation-name: mGrow;
          animation-name: mGrow;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes mGrow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
@keyframes mGrow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 {
  -webkit-animation-name: I1Grow;
          animation-name: I1Grow;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes I1Grow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
@keyframes I1Grow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK {
  -webkit-animation-name: KGrow;
          animation-name: KGrow;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes KGrow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
@keyframes KGrow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 {
  -webkit-animation-name: I2Grow;
          animation-name: I2Grow;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes I2Grow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}
@keyframes I2Grow {
  0% {
    height: 70%;
    color: var(--myRed);
  }
  25% {
    color: var(--myRed);
  }
  50% {
    height: 100%;
    color: var(--white);
    opacity: 0.5;
  }
  75% {
    color: var(--myRed);
  }
  100% {
    height: 70%;
    color: var(--myRed);
  }
}

.navBar {
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2020;
}

.menuOverlay {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: green;
  overflow: hidden;
  transition: 0.6s;
  opacity: 0;
  z-index: 1900;
}

.menuOverlayHide {
  width: 0%;
  opacity: 0;
}
.menuOverlayHide a {
  padding: 0;
}
@media only screen and (min-width: 31.25em) {
  .menuOverlayHide {
    padding: 0 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 3em;
    width: 100vw;
    background-color: transparent;
    opacity: 0;
    z-index: 2010;
    opacity: 0;
    -webkit-animation-name: showItem;
            animation-name: showItem;
    -webkit-animation-delay: 14s;
            animation-delay: 14s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes showItem {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showItem {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .menuOverlayHide a {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.2em;
  }
}

.menuOverlayShow {
  width: 100%;
  opacity: 1;
}
.menuOverlayShow a {
  padding: 0.5em 0;
}

.menuButton {
  position: absolute;
  height: 2em;
  width: 2.3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  z-index: 2200;
  opacity: 0;
  -webkit-animation-name: showItem;
          animation-name: showItem;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 31.5em) {
  .menuButton {
    display: none;
  }
}

.menuBeam {
  position: absolute;
  left: 0;
  height: 0.125em;
  width: 2.3em;
  background-color: var(--white);
  transition: 0.7s;
}

.topMenuBeam {
  top: 0;
}

.middleMenuBeam {
  top: 0.8em;
}

.bottomMenuBeam {
  top: 1.6em;
}

.topMenuBeamClose {
  top: 0.8em;
  transform: rotate(-135deg);
  width: 2.5em;
}

.middleMenuBeamClose {
  opacity: 0;
  transform: rotateY(90deg);
}

.bottomMenuBeamClose {
  top: 0.8em;
  transform: rotate(135deg);
  width: 2.5em;
}

.parallaxOne {
  display: block;
  background-image: url(../../img/sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */