* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: var(--white);
  border-left: 0.5px solid var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--myBlue);
  box-shadow: 1px 3px 8px var(--black), -1px -1px 6px var(--black);
}

::-webkit-scrollbar-button {
  background-color: var(--myBlue);
  box-shadow: 1px 2px 7px var(--black), -1px -2px 7px var(--black);
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  font-family: var(--mainFont);
  color: var(--black);
}

main {
  opacity: 0;
  -webkit-animation-name: showItem;
          animation-name: showItem;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow-x: hidden;
}
@-webkit-keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color {
  color: var(--myBlue);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h2 {
  padding: 0 1.5rem;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 31.25em) {
  h2 {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  h2 {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  h2 {
    padding: 0 4.5rem;
  }
}
@media only screen and (min-width: 31.25em) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  width: 100%;
  margin: 1em 0;
  font-size: 1.8rem;
}
@media only screen and (min-width: 40em) {
  h3 {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: var(--mint);
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  transform: scale(1.2);
}

p {
  width: 100%;
  margin: 1.5em 0;
  font-size: 1.3rem;
}
@media only screen and (min-width: 31.25em) {
  p {
    font-size: 1.8rem;
  }
}

li {
  list-style-type: none;
  width: 100%;
  font-size: 1.3rem;
}
@media only screen and (min-width: 31.25em) {
  li {
    font-size: 1.8rem;
  }
}

:root {
  --black: rgb(0, 0, 0);
  --blackSemiTrans: rgba(0,0,0,0.8);
  --blackTrans: rgba(0,0,0,0.6);
  --white: rgb(255, 255, 255);
  --blackShadow: 1px 1px 35px rgb(0,0,0);
  --blackShadowSmall: .5px .5px 12px rgb(0,0,0);
  --whiteShadow: 2px 2px 50px rgb(255, 255, 255);
  --mintShadow: 2px 2px 70px rgb(157, 221, 157);
  --myRed: rgb(230, 53, 53);
  --myBlue: rgb(49, 49, 248);
  --mint: rgb(157, 221, 157);
  --mainFont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.lineContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2200;
  -webkit-animation: lines 4s ease-out;
          animation: lines 4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes lines {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    height: 0;
    width: 0;
    display: none;
  }
}
@keyframes lines {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    height: 0;
    width: 0;
    display: none;
  }
}
.lineContainer .line {
  position: fixed;
  display: block;
  height: 0.3em;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.lineContainer .line:nth-of-type(1) {
  top: 5%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.lineContainer .line:nth-of-type(2) {
  top: 8%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(3) {
  top: 12%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.lineContainer .line:nth-of-type(4) {
  top: 15%;
  background-color: var(--mint);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(5) {
  top: 20%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(6) {
  top: 23%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepright 3.9s ease-in-out;
          animation: lineSweepright 3.9s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.lineContainer .line:nth-of-type(7) {
  top: 30%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.lineContainer .line:nth-of-type(8) {
  top: 36%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(9) {
  top: 52%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(10) {
  top: 56%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.lineContainer .line:nth-of-type(11) {
  top: 61%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3s ease-in-out;
          animation: lineSweepRight 3s ease-in-out;
}
.lineContainer .line:nth-of-type(12) {
  top: 67%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.lineContainer .line:nth-of-type(13) {
  top: 70%;
  background-color: var(--mint);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(14) {
  top: 76%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepLeft 3.9s ease-in-out;
          animation: lineSweepLeft 3.9s ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.lineContainer .line:nth-of-type(15) {
  top: 79%;
  background-color: var(--mint);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
}
.lineContainer .line:nth-of-type(16) {
  top: 82%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3.5s ease-in-out;
          animation: lineSweepRight 3.5s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.lineContainer .line:nth-of-type(17) {
  top: 88%;
  background-color: var(--mint);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.lineContainer .line:nth-of-type(18) {
  top: 94%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepLeft 3.3s ease-in-out;
          animation: lineSweepLeft 3.3s ease-in-out;
}
.lineContainer .line:nth-of-type(19) {
  top: 98%;
  background-color: var(--myBlue);
  -webkit-animation: lineSweepRight 3.9s ease-in-out;
          animation: lineSweepRight 3.9s ease-in-out;
}

@-webkit-keyframes lineSweepLeft {
  0% {
    display: block;
    width: 100%;
    transform: translate(-100%);
  }
  40% {
    width: 100%;
    transform: translate(0);
  }
  98% {
    transform: translate(100%);
  }
  97% {
    display: none;
    opacity: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes lineSweepLeft {
  0% {
    display: block;
    width: 100%;
    transform: translate(-100%);
  }
  40% {
    width: 100%;
    transform: translate(0);
  }
  98% {
    transform: translate(100%);
  }
  97% {
    display: none;
    opacity: 0;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes lineSweepRight {
  0% {
    width: 100vw;
    transform: translate(100%);
  }
  40% {
    width: 100%;
    transform: translate(0);
  }
  98% {
    transform: translate(-100%);
  }
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes lineSweepRight {
  0% {
    width: 100vw;
    transform: translate(100%);
  }
  40% {
    width: 100%;
    transform: translate(0);
  }
  98% {
    transform: translate(-100%);
  }
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    width: 0;
  }
}
.pageblocker {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  z-index: 2100;
  -webkit-animation-name: unblock;
          animation-name: unblock;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.pageblocker span {
  height: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 6vw;
  -webkit-animation-name: welcomeText;
          animation-name: welcomeText;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: 0.5s;
}
@-webkit-keyframes welcomeText {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcomeText {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes unblock {
  0% {
    display: block;
  }
  85% {
    width: 100%;
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    display: none;
    width: 0;
  }
}
@keyframes unblock {
  0% {
    display: block;
  }
  85% {
    width: 100%;
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    display: none;
    width: 0;
  }
}

.mainHeader {
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  background-color: transparent;
  z-index: 2200;
  -webkit-animation-name: headerStart;
          animation-name: headerStart;
  -webkit-animation-duration: 4.2s;
          animation-duration: 4.2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media only screen and (min-width: 31.25em) {
  .mainHeader {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .mainHeader {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .mainHeader {
    padding: 0 4.5rem;
  }
}
@-webkit-keyframes headerStart {
  0% {
    height: 100vh;
    background-color: transparent;
  }
  40% {
    background-color: var(--white);
  }
  70% {
    box-shadow: none;
    z-index: 2200;
  }
  100% {
    justify-content: flex-end;
    height: 3em;
    background-color: var(--white);
    box-shadow: var(--mintShadow), var(--blackShadowSmall);
    z-index: 2030;
  }
}
@keyframes headerStart {
  0% {
    height: 100vh;
    background-color: transparent;
  }
  40% {
    background-color: var(--white);
  }
  70% {
    box-shadow: none;
    z-index: 2200;
  }
  100% {
    justify-content: flex-end;
    height: 3em;
    background-color: var(--white);
    box-shadow: var(--mintShadow), var(--blackShadowSmall);
    z-index: 2030;
  }
}
.mainHeader .mainLogoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 8em;
  opacity: 0;
  -webkit-animation-name: logoContainerStart;
          animation-name: logoContainerStart;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media only screen and (min-width: 31.25em) {
  .mainHeader .mainLogoContainer {
    width: 10em;
  }
}
@-webkit-keyframes logoContainerStart {
  0% {
    top: 5%;
    right: -30%;
    opacity: 0;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        top: 5%;
        right: 80%;
      }
    }
  }
  20% {
    opacity: 1;
  }
  50% {
    top: 40%;
    right: 50%;
    opacity: 1;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        right: 30%;
      }
    }
  }
  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}
@keyframes logoContainerStart {
  0% {
    top: 5%;
    right: -30%;
    opacity: 0;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        top: 5%;
        right: 80%;
      }
    }
  }
  20% {
    opacity: 1;
  }
  50% {
    top: 40%;
    right: 50%;
    opacity: 1;
    @media only screen and (min-width: 31.25em) {
      .mainHeader .mainLogoContainer {
        right: 30%;
      }
    }
  }
  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}
.mainHeader .mainLogoContainer .mainLogo {
  position: absolute;
  margin: auto;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  z-index: 2010;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 {
  -webkit-animation-name: letterGrow;
          animation-name: letterGrow;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK svg,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 svg {
  height: 100%;
  width: auto;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK svg path,
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 svg path {
  fill: currentColor;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterM {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterK {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.mainHeader .mainLogoContainer .mainLogo .mainLogoLetterI2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes letterGrow {
  0% {
    height: 70%;
    color: var(--myBlue);
  }
  25% {
    color: var(--myBlue);
  }
  50% {
    height: 100%;
    color: var(--mint);
    opacity: 0.5;
  }
  75% {
    color: var(--myBlue);
  }
  100% {
    height: 70%;
    color: var(--myBlue);
  }
}
@keyframes letterGrow {
  0% {
    height: 70%;
    color: var(--myBlue);
  }
  25% {
    color: var(--myBlue);
  }
  50% {
    height: 100%;
    color: var(--mint);
    opacity: 0.5;
  }
  75% {
    color: var(--myBlue);
  }
  100% {
    height: 70%;
    color: var(--myBlue);
  }
}

.navBar {
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  z-index: 2030;
}
@media only screen and (min-width: 31.25em) {
  .navBar {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .navBar {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .navBar {
    padding: 0 4.5rem;
  }
}

.menuOverlay {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--blackSemiTrans);
  overflow: hidden;
  transition: 0.5s;
  z-index: 1900;
}
@media only screen and (min-width: 31.25em) {
  .menuOverlay {
    z-index: 2030;
  }
}

.menuOverlayHide {
  width: 0%;
  opacity: 0;
}
.menuOverlayHide a {
  padding: 0;
  font-size: 8vw;
  transition: 0.3s;
}
@media only screen and (min-width: 31.25em) {
  .menuOverlayHide {
    padding: 0 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 3em;
    width: 100vw;
    background-color: transparent;
    opacity: 1;
    z-index: 2030;
  }
}
@media only screen and (min-width: 31.25em) and (min-width: 31.25em) {
  .menuOverlayHide {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 31.25em) and (min-width: 40em) {
  .menuOverlayHide {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 31.25em) and (min-width: 55em) {
  .menuOverlayHide {
    padding: 0 4.5rem;
  }
}
@media only screen and (min-width: 31.25em) {
  .menuOverlayHide a {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.2em;
  }
  .menuOverlayHide a:hover {
    transform: scale(1.2);
  }
}

.menuOverlayShow {
  width: 100%;
  opacity: 1;
}
@media only screen and (max-width: 31.25em) {
  .menuOverlayShow {
    padding-top: 2em;
  }
}
.menuOverlayShow a {
  padding: 0.5em 0;
}

.active {
  color: var(--white);
  text-shadow: 0px 0px 10px var(--myBlue);
  transform: scale(1.1);
}
@media only screen and (min-width: 31.25em) {
  .active {
    color: var(--myBlue);
    text-shadow: 0px 0px 10px var(--mint);
  }
}

.menuButton {
  position: absolute;
  height: 2em;
  width: 2.3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2300;
}
@media only screen and (min-width: 31.5em) {
  .menuButton {
    display: none;
  }
}

.menuBeam {
  position: absolute;
  left: 0;
  height: 0.125em;
  width: 2.3em;
  background-color: var(--myBlue);
  transition: 0.5s;
}

.topMenuBeam {
  top: 0;
}

.middleMenuBeam {
  top: 0.8em;
}

.bottomMenuBeam {
  top: 1.6em;
}

.topMenuBeamClose {
  top: 0.8em;
  transform: rotate(-135deg);
  width: 2.5em;
  background-color: var(--mint);
}

.middleMenuBeamClose {
  opacity: 0;
  transform: rotateY(90deg);
}

.bottomMenuBeamClose {
  top: 0.8em;
  transform: rotate(135deg);
  width: 2.5em;
  background-color: var(--mint);
}

.jsScrollAnimation {
  opacity: 0;
  transition: all 1.2s;
}
.jsScrollAnimation.scrolled {
  opacity: 1;
}
.jsScrollAnimation.scrolled.fadeInUp {
  -webkit-animation: fadeInUp 1.2s ease-out both;
          animation: fadeInUp 1.2s ease-out both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes fadeInUp {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
  }
}
.jsScrollAnimation.scrolled.rotateY {
  -webkit-animation: rotateY 1.2s ease-in-out;
          animation: rotateY 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.jsScrollAnimation.scrolled.rotateY:nth-of-type(2), .jsScrollAnimation.scrolled.rotateY:nth-of-type(5), .jsScrollAnimation.scrolled.rotateY:nth-of-type(8), .jsScrollAnimation.scrolled.rotateY:nth-of-type(11) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.jsScrollAnimation.scrolled.rotateY:nth-of-type(3), .jsScrollAnimation.scrolled.rotateY:nth-of-type(6), .jsScrollAnimation.scrolled.rotateY:nth-of-type(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.jsScrollAnimation.scrolled.rotateX {
  -webkit-animation: rotateX 1.2s ease-in-out;
          animation: rotateX 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.jsScrollAnimation.scrolled.rotateX:nth-of-type(1), .jsScrollAnimation.scrolled.rotateX:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.jsScrollAnimation.scrolled.rotateX:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@-webkit-keyframes rotateX {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes rotateX {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.jsScrollAnimation.scrolled.fadeInRight {
  -webkit-animation: fadeInRight 1.3s ease-in-out;
          animation: fadeInRight 1.3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.jsScrollAnimation.scrolled.grow {
  -webkit-animation: grow 1.7s ease-in-out;
          animation: grow 1.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.jsScrollAnimation.scrolled.grow:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.jsScrollAnimation.scrolled.grow:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

section {
  padding-top: 3em;
  min-height: 100vh;
  margin-bottom: 1em;
}

.home {
  min-height: 100vh;
  background-image: url(../../img/mikiSmile.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
@media only screen and (min-width: 40em) {
  .home {
    background-position: center;
  }
}

.homeArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  margin: 0 -2%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 16.5vw;
  color: var(--white);
  text-align: center;
  word-break: break-all;
}
.homeArticle div {
  padding-top: 0.4em;
}
@media only screen and (min-width: 31.25em) {
  .homeArticle div {
    padding-top: 0;
  }
}
.homeArticle div span {
  -webkit-animation: fadeText 5s ease-in-out;
          animation: fadeText 5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.homeArticle div span:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.homeArticle div span:nth-of-type(3),
.homeArticle div span:nth-of-type(7) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.homeArticle div span:nth-of-type(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.homeArticle div span:nth-of-type(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@media only screen and (min-width: 55em) {
  .homeArticle {
    font-size: 9.15vw;
  }
}

@-webkit-keyframes fadeText {
  0% {
    opacity: 1;
    text-shadow: var(--blackShadowSmall);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: var(--blackShadowSmall);
  }
}

@keyframes fadeText {
  0% {
    opacity: 1;
    text-shadow: var(--blackShadowSmall);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: var(--blackShadowSmall);
  }
}
.sectionArticle {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 31.25em) {
  .sectionArticle {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .sectionArticle {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .sectionArticle {
    padding: 0 4.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .sectionArticle {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
  }
  .sectionArticle div {
    flex: 40%;
  }
}

.sectionImgContainer {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 31.25em) {
  .sectionImgContainer {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .sectionImgContainer {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .sectionImgContainer {
    padding: 0 4.5rem;
  }
}
.sectionImgContainer .sectionEndImg {
  margin: auto;
  opacity: 0.5;
  border-radius: 15px;
  border: 0.5px solid var(--mint);
  outline: 0.5px solid var(--black);
  box-shadow: var(--blackShadow), var(--blackShadowSmall);
}

#skills .sectionArticle div {
  margin-bottom: 2em;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.iconContainer .skillsIcon,
.iconContainer .languageIcon {
  margin: 0.5em 0;
  border: 1px solid var(--black);
  border-radius: 10px;
  box-shadow: var(--blackShadow);
}

.contactArticle {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}
@media only screen and (min-width: 40em) {
  .contactArticle {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
  }
  .contactArticle div {
    flex: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.contactArticle a {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--black);
  transition: all 0.3s;
}
.contactArticle a:hover {
  color: var(--myBlue);
  transform: scale(1.1);
}
.contactArticle .portretTwo {
  display: block;
  height: auto;
  width: 80%;
  margin: 5% auto;
  border: 1.5px solid var(--mint);
  border-radius: 15px;
  outline: 1px solid var(--black);
  box-shadow: var(--blackShadow), var(--blackShadowSmall);
  opacity: 0;
}

.linkIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
}
@media only screen and (min-width: 40em) {
  .linkIconContainer {
    justify-content: flex-start;
  }
}
.linkIconContainer a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.5em;
  background-color: var(--mint);
  border-radius: 50%;
  box-shadow: var(--blackShadow);
}
.linkIconContainer a:hover {
  background-color: var(--myBlue);
  box-shadow: var(--blackShadowSmall), var(--mintShadow);
}
.linkIconContainer a img {
  height: 5em;
  width: auto;
}

.responsiveParagraph {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 40em) {
  .responsiveParagraph {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.sectionLineContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-bottom: 3rem;
}
.sectionLineContainer .sectionLine {
  height: 0.3em;
  width: 100%;
}
.sectionLineContainer .sectionLine:nth-of-type(1) {
  margin-bottom: 0.9em;
  background-color: var(--myBlue);
}
.sectionLineContainer .sectionLine:nth-of-type(2) {
  margin-bottom: 0.4em;
  background-color: var(--myBlue);
}
.sectionLineContainer .sectionLine:nth-of-type(3) {
  margin-bottom: 1.2em;
  background-color: var(--mint);
}
.sectionLineContainer .sectionLine:nth-of-type(4) {
  margin-bottom: 0.9em;
  background-color: var(--myBlue);
}
.sectionLineContainer .sectionLine:nth-of-type(5) {
  background-color: var(--mint);
}

.sectionTitle {
  position: relative;
  height: 4.1em;
  width: 100%;
  background: linear-gradient(90deg, var(--blackTrans), var(--blackTrans), var(--blackTrans), var(--blackTrans), var(--blackTrans), var(--mint), var(--myBlue), var(--myBlue), var(--myBlue), var(--myBlue), var(--myBlue));
  background-size: 200%;
  -webkit-animation: backgroundMove 8s ease-in-out;
          animation: backgroundMove 8s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes backgroundMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.titleText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  color: black;
  font-size: 3.5em;
  font-weight: bold;
  mix-blend-mode: screen;
}

.parallaxOne {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../../img/background/AmsterdamFromTheSky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  overflow-y: hidden;
}
.parallaxOne .parallaxArticle {
  padding: 0 1.5rem;
  background-color: var(--blackTrans);
  color: var(--white);
}
@media only screen and (min-width: 31.25em) {
  .parallaxOne .parallaxArticle {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .parallaxOne .parallaxArticle {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .parallaxOne .parallaxArticle {
    padding: 0 4.5rem;
  }
}

.iFrameArticle {
  padding-top: 1.7em;
}
.iFrameArticle .iFrameLinkContainer {
  width: 100%;
  aspect-ratio: 2/1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em 0;
  padding: 1.5em;
  background-color: var(--blackTrans);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: multiply;
  color: var(--white);
  border-radius: 15px;
  border: 0.5px solid var(--mint);
  outline: 0.5px solid var(--white);
  box-shadow: var(--blackShadow), var(--blackShadowSmall);
}
.iFrameArticle .iFrameLinkContainer span {
  font-size: 1.3em;
}
@media only screen and (min-width: 31.25em) {
  .iFrameArticle .iFrameLinkContainer span {
    font-size: 1.6em;
  }
}
.iFrameArticle .iFrameLinkContainer .iFrameButtonLinkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.iFrameArticle .iFrameLinkContainer .iFrameButtonLinkContainer .iFrameLink {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.6em;
}
.iFrameArticle .iFrameLinkContainer .iFrameButtonLinkContainer .iFrameLink button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--mint);
  border: none;
  border-radius: 50%;
  box-shadow: var(--blackShadowSmall), var(--whiteShadow);
  transition: 0.3s;
  cursor: pointer;
}
.iFrameArticle .iFrameLinkContainer .iFrameButtonLinkContainer .iFrameLink button:hover {
  background-color: var(--myBlue);
  box-shadow: var(--mintShadow);
}
.iFrameArticle .iFrameLinkContainer .iFrameButtonLinkContainer .iFrameLink button img {
  height: 3em;
  width: 3em;
}
.iFrameArticle #miki101 {
  background-image: url(../../img/projects/miki101-screenprint.jpg);
}
.iFrameArticle #montmartre {
  background-image: url(../../img/projects/cafeMontmartre-screenprint.jpg);
}

footer {
  padding-bottom: 3.5rem;
}

.footerSection:not(.footerSection:nth-of-type(1)) {
  padding: 0 1.5rem;
  margin-bottom: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
@media only screen and (min-width: 31.25em) {
  .footerSection:not(.footerSection:nth-of-type(1)) {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .footerSection:not(.footerSection:nth-of-type(1)) {
    padding: 0 3.5rem;
  }
}
@media only screen and (min-width: 55em) {
  .footerSection:not(.footerSection:nth-of-type(1)) {
    padding: 0 4.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .footerSection:not(.footerSection:nth-of-type(1)) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footerSection:not(.footerSection:nth-of-type(1)) div {
  font-size: 1rem;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo {
  height: 2em;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterM,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI1,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterK,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI2 {
  height: 70%;
  -webkit-animation-name: letterGlow;
          animation-name: letterGlow;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterM svg,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI1 svg,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterK svg,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI2 svg {
  height: 100%;
  width: auto;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterM svg path,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI1 svg path,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterK svg path,
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI2 svg path {
  fill: currentColor;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterM {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterK {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.footerSection:not(.footerSection:nth-of-type(1)) div .footerLogo .footerLogoLetterI2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes letterGlow {
  0% {
    height: 70%;
    color: var(--myBlue);
  }
  25% {
    color: var(--myBlue);
  }
  50% {
    height: 100%;
    color: var(--mint);
    opacity: 0.5;
  }
  75% {
    color: var(--myBlue);
  }
  100% {
    height: 70%;
    color: var(--myBlue);
  }
}
@keyframes letterGlow {
  0% {
    height: 70%;
    color: var(--myBlue);
  }
  25% {
    color: var(--myBlue);
  }
  50% {
    height: 100%;
    color: var(--mint);
    opacity: 0.5;
  }
  75% {
    color: var(--myBlue);
  }
  100% {
    height: 70%;
    color: var(--myBlue);
  }
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  .footerSection:not(.footerSection:nth-of-type(1)) .footerContact {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerContact a {
  color: var(--black);
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerContact a:hover {
  color: var(--myBlue);
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerContact .linkIconContainer img {
  height: 2em;
  width: 2em;
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.2em;
}
@media only screen and (min-width: 40em) {
  .footerSection:not(.footerSection:nth-of-type(1)) .footerIconContainer {
    padding: 0;
  }
}
.footerSection:not(.footerSection:nth-of-type(1)) .footerIconContainer img {
  display: block;
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.8em;
}

.credit {
  text-align: center;
  color: var(--blackTrans);
}/*# sourceMappingURL=main.css.map */