@import "./mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 16px;
    background-color: var(--white);
    border-left: .5px solid var(--black);
}
::-webkit-scrollbar-thumb {
    background-color: var(--myBlue);
    box-shadow: 1px 3px 8px var(--black), -1px -1px 6px var(--black);
}
::-webkit-scrollbar-button {
    background-color: var(--myBlue);
    box-shadow: 1px 2px 7px var(--black), -1px -2px 7px var(--black);
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    font-family: var(--mainFont);
    color: var(--black);
}
main {
    @include showItem;
    overflow-x: hidden;
}
.color {
    color: var(--myBlue);
}
img {
    height: auto;
    max-width: 100%;
}
h2 {
    @include pagePadding;
    margin-top: 2em;
    margin-bottom: 1.5em;
    @include mQuery(s) {
        font-size: 3rem;
    }
}
h3 {
    margin: 1em 0;
}
a {
    text-decoration: none;
    color: var(--mint);
    cursor: pointer;
    transition: .4s;
    &:hover {
      transform: scale(1.2);
    }
}
p {
    margin: 1.5em 0;
    font-size: 1.3rem;
    @include mQuery(s) {
        font-size: 1.8rem;
    }
}
li {
    list-style-type: none;
    width: 100%;
    font-size: 1.3rem;
    @include mQuery(s) {
        font-size: 1.8rem;
    }
}