@import "mixins";
.pageblocker {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  overflow: hidden;
  z-index: 2100;
  animation-name: unblock;
  animation-duration: 5.5s;
  animation-fill-mode: forwards;
  span {
    height: 2em;
    width: fit-content;
    font-size: 6vw;
    animation-name: welcomeText;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    @keyframes welcomeText {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
  @keyframes unblock {
    0% {
      display: block;
    }
    85% {
      width: 100%;
    }
    100% {
      display: none;
      width: 0;
    }
  }
}
.mainHeader {
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--black);
  z-index: 2050;
  animation-name: headerStart;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  @keyframes headerStart {
    0% {
      height: 100vh;
      background-color: var(--black);
    }
    65% {
      box-shadow: none;
      background-color: var(--black);
      z-index: 2050;
    }
    100% {
      height: 3em;
      box-shadow: var(--shadow);
      z-index: 2030;
    }
  }
  .mainLogoContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10em;
    animation-name: logoContainerStart;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    @keyframes logoContainerStart {
      0% {
        top: 5%;
        right: -30%;
        opacity: 0;
        @include mQuery(s) {
          top: 5%;
          right: 80%;
        }
      }
      25% {
        opacity: 1;
      }
      50% {
        top: 40%;
        right: 30%;
      }
      100% {
        top: 0;
        right: 0%;
      }
    }
    .mainLogo {
      position: absolute;
      margin: auto;
      height: 100%;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5em;
      z-index: 2010;
      .mainLogoLetterM,
      .mainLogoLetterI1,
      .mainLogoLetterK,
      .mainLogoLetterI2 {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        svg {
          height: 100%;
          width: auto;
          path {
            fill: currentColor;
          }
        }
      }
      .mainLogoLetterM {
        animation-name: mGrow;
        animation-delay: 0.5s;
      }
      @keyframes mGrow {
        0% {
          height: 70%;
          color: var(--myRed);
        }
        25% {
          color: var(--myRed);
        }
        50% {
          height: 100%;
          color: var(--white);
          opacity: 0.5;
        }
        75% {
          color: var(--myRed);
        }
        100% {
          height: 70%;
          color: var(--myRed);
        }
      }
      .mainLogoLetterI1 {
        animation-name: I1Grow;
        animation-delay: 1s;
      }
      @keyframes I1Grow {
        0% {
          height: 70%;
          color: var(--myRed);
        }
        25% {
          color: var(--myRed);
        }
        50% {
          height: 100%;
          color: var(--white);
          opacity: 0.5;
        }
        75% {
          color: var(--myRed);
        }
        100% {
          height: 70%;
          color: var(--myRed);
        }
      }
      .mainLogoLetterK {
        animation-name: KGrow;
        animation-delay: 1.5s;
      }
      @keyframes KGrow {
        0% {
          height: 70%;
          color: var(--myRed);
        }
        25% {
          color: var(--myRed);
        }
        50% {
          height: 100%;
          color: var(--white);
          opacity: 0.5;
        }
        75% {
          color: var(--myRed);
        }
        100% {
          height: 70%;
          color: var(--myRed);
        }
      }
      .mainLogoLetterI2 {
        animation-name: I2Grow;
        animation-delay: 2s;
      }
      @keyframes I2Grow {
        0% {
          height: 70%;
          color: var(--myRed);
        }
        25% {
          color: var(--myRed);
        }
        50% {
          height: 100%;
          color: var(--white);
          opacity: 0.5;
        }
        75% {
          color: var(--myRed);
        }
        100% {
          height: 70%;
          color: var(--myRed);
        }
      }
    }
  }
}
