@import "mixins";
.pageblocker {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  z-index: 2100;
  animation-name: unblock;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  span {
    height: 2em;
    width: fit-content;
    font-size: 6vw;
    animation-name: welcomeText;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: .5s;
    @keyframes welcomeText {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
  @keyframes unblock {
    0% {
      display: block;
    }
    85% {
      width: 100%;
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      display: none;
      width: 0;
    }
  }
}
.mainHeader {
  @include pagePadding;
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  background-color: transparent;
  z-index: 2200;
  animation-name: headerStart;
  animation-duration: 4.2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  @keyframes headerStart {
    0% {
      height: 100vh;
      background-color: transparent;
    }
    40% {
      background-color: var(--white);
    }
    70% {
      box-shadow: none;
      z-index: 2200;
    }
    100% {
      justify-content: flex-end;
      height: 3em;
      background-color: var(--white);
      box-shadow: var(--shadow);
      z-index: 2030;
    }
  }
  .mainLogoContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 8em;
    opacity: 0;
    animation-name: logoContainerStart;
    animation-duration: 3.3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    @include mQuery(s) {
      width: 10em;
    }
    @keyframes logoContainerStart {
      0% {
        top: 5%;
        right: -30%;
        opacity: 0;
        @include mQuery(s) {
          top: 5%;
          right: 80%;
        }
      }
      20% {
        opacity: 1;
      }
      50% {
        top: 40%;
        right: 50%;
        opacity: 1;
        @include mQuery(s) {
          right: 30%;
        }
      }
      100% {
        top: 0;
        right: 0;
        opacity: 1;
      }
    }
    .mainLogo {
      position: absolute;
      margin: auto;
      height: 100%;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5em;
      z-index: 2010;
      .mainLogoLetterM,
      .mainLogoLetterI1,
      .mainLogoLetterK,
      .mainLogoLetterI2 {
        animation-name: letterGrow;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        svg {
          height: 100%;
          width: auto;
          path {
            fill: currentColor;
          }
        }
      }
      .mainLogoLetterM {
        animation-delay: 0.5s;
      }
      .mainLogoLetterI1 {
        animation-delay: 1s;
      }
      .mainLogoLetterK {
        animation-delay: 1.5s;
      }
      .mainLogoLetterI2 {
        animation-delay: 2s;
      }
      @keyframes letterGrow {
        0% {
          height: 70%;
          color: var(--myBlue);
        }
        25% {
          color: var(--myBlue);
        }
        50% {
          height: 100%;
          color: var(--mint);
          opacity: 0.5;
        }
        75% {
          color: var(--myBlue);
        }
        100% {
          height: 70%;
          color: var(--myBlue);
        }
      }
      
    }
  }
}
