.iFrameContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
    transition: .5s;
    z-index: 2050;
}
.iFrameClose {
    position: absolute;
    top: .8em;
    left: .8em;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    z-index: 2060;
    img {
        height: 2.5em;
        width: 2.5em;
    }
}
.iFrameProjects {
    display: block;
    position: absolute;
    top: 4em;
    height: 85%;
    width: 90%;
    margin: 0 5%;
    border: 1.5px solid var(--white);
    border-radius: 10px;
    box-shadow: var(--blackShadow), var(--blackShadowSmall);
}