.iFrameContainer {
  display: block;
  position: fixed;
  top: -0.1em;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  transition: 0.5s;
  z-index: 2050;
  .iFrameButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.5em;
    width: 100%;
    padding: 0 5%;
    background-color: transparent;
    .iFrameClose {
      position: absolute;
      height: 2em;
      width: 2.3em;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 2060;
      div {
        position: absolute;
        top: 0.8em;
        left: 0;
        height: 0.125em;
        width: 2.5em;
        background-color: var(--myBlue);
        box-shadow: var(--blackShadowSmall);
      }
      div:nth-of-type(1) {
        transform: rotate(135deg);
      }
      div:nth-of-type(2) {
        transform: rotate(-135deg);
      }
    }
  }
  .iFrameProjects {
    display: block;
    position: absolute;
    top: 4em;
    height: 85%;
    width: 90%;
    margin: 0 5%;
    border: 1.5px solid var(--white);
    border-radius: 10px;
    box-shadow: var(--blackShadow), var(--blackShadowSmall);
  }
}
