.center {
  display: none;
  height: 30vh;
  width: 30vw;
  margin: auto;
  border: 1px solid red;
  background: radial-gradient(red, orange, yellow, green, blue, purple);
  animation-name: round;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes round {
  0% {
    background: radial-gradient(red, orange, yellow, green, blue, purple);
  }
  18% {
    background: radial-gradient(orange, yellow, green, blue, purple, red);
  }
  36% {
    background: radial-gradient(yellow, green, blue, purple, red, orange);
  }
  45% {
    background: radial-gradient(green, blue, purple, red, orange, yellow);
  }
  60% {
    background: radial-gradient(blue, purple, red, orange, yellow, green);
  }
  85% {
    background: radial-gradient(purple, red, orange, yellow, green, blue);
  }
  100% {
    background: radial-gradient(red, orange, yellow, green, blue, purple);
  }
}

.img {
  display: none;
  position: relative;
  height: 50vh;
  width: 50vw;
  margin: 5em auto;
  border-left: 1px solid var(--white);
  border-top: 1px solid var(--white);
  border-radius: 10px;
  background: linear-gradient(
    130deg,
    rgb(0, 0, 0),
    rgb(25, 25, 25),
    rgb(50, 50, 50),
    rgb(75, 75, 75),
    rgb(100, 100, 100),
    rgb(125, 125, 125),
    rgb(150, 150, 150),
    rgb(200, 200, 200),
    rgb(250, 250, 250)
  );
  .tree {
    position: absolute;
    bottom: 0;
    left: 60%;
    height: 80%;
    width: 6%;
    background: linear-gradient(to left, lightgreen, green, darkgreen);
    border-top-left-radius: 3px;
    border-top-right-radius: 5px;
  }
}


