@mixin pagePadding() {
  padding: 0 1.5rem;
}
@mixin sectionPadding() {
  padding-top: 3em;
}
@mixin mQuery($breakpoint) {
  @if $breakpoint == s {
    @media only screen and (min-width: 31.25em) {
      @content;
    }
  }
}
@mixin showItem() {
  opacity: 0;
  animation-name: showItem;
  animation-delay: 14s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @keyframes showItem {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
