@import "./mixins";
.navBar {
  @include pagePadding;
  position: fixed;
  top: 0;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  z-index: 2030;
}
.menuOverlay {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--blackSemiTrans);
  overflow: hidden;
  transition: 0.5s;
  z-index: 1900;
  @include mQuery(s) {
    z-index: 2030;
  }
}
.menuOverlayHide {
  width: 0%;
  opacity: 0;
  & a {
    padding: 0;
    font-size: 8vw;
    transition: .3s;
  }
  @include mQuery(s) {
    @include pagePadding;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 3em;
    width: 100vw;
    background-color: transparent;
    opacity: 1;
    z-index: 2030;
    & a {
      display: inline-block;
      margin-right: 0.5em;
      font-size: 1.2em;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.menuOverlayShow {
  width: 100%;
  opacity: 1;
  @include mQuery(xs) {
    padding-top: 2em;
  }
  & a {
    padding: 0.5em 0;
  }
}
.active {
  color: var(--myBlue);
  text-shadow: 0px 0px 10px var(--white);
  transform: scale(1.1);
}
