.parallaxOne {
    //@include pagePadding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../../img/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    .parallaxArticle {
        background-color: var(--blackTrans);
        border-radius: 8px;
    }
}