.jsScrollAnimation {
  opacity: 0;
  transition: all 1.2s;
  &.scrolled {
    opacity: 1;
    &.fadeInUp {
      animation: fadeInUp 1.2s ease-out both;
      animation-delay: 0.3s;
    }
    @keyframes fadeInUp {
      0% {
        transform: translateY(2em);
      }
      100% {
        transform: translateY(0);
      }
    }
    &.rotateX {
      animation: rotateX 1.2s ease-in-out;
    }
    @keyframes rotateX {
      0% {
        transform: rotateY(90deg);
      }
      100% {
        transform: rotateY(0deg);
      }
    }
  }
}
