@import "./mixins";
section {
  @include sectionPadding;
  min-height: 100vh;
  margin-bottom: 1em;
}
.sectionArticle {
  @include pagePadding;
  display: flex;
  flex-direction: column;
  @include mQuery(l) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    div {
      flex: 40%;
    }
  }
  div {
    margin-bottom: 2em;
  }
}
.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .skillsIcon,
  .languageIcon {
    margin: 0.5em 0;
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--blackShadow);
    @include mQuery(m) {
      margin: 0.5em 0.5em 0.5em 0;
    }
  }
}
