@import "./mixins";
section {
  @include sectionPadding;
  min-height: 100vh;
  margin-bottom: 1em;
}
.sectionArticle {
  @include pagePadding;
  display: flex;
  flex-direction: column;
  @include mQuery(l) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
    div {
      flex: 40%;
    }
  }
}
#skills {
  .sectionArticle {
    div {
      margin-bottom: 2em;
    }
  }
}
.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .skillsIcon,
  .languageIcon {
    margin: 0.5em 0;
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--blackShadow);
    @include mQuery(m) {
      margin: 0.5em 0.5em 0.5em 0;
    }
  }
}
.linkIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  @include mQuery(m) {
    justify-content: flex-end;
  }
  a {
    margin: 0 0.6em;
    height: fit-content;
    width: fit-content;
    background-color: var(--mint);
    border-radius: 50%;
    box-shadow: var(--blackShadow);
    &:hover {
      background-color: var(--myBlue);
    }
    img {
      height: 5em;
      width: auto;
    }
  }
}
.responsiveParagraph {
  display: flex;
  flex-direction: column;
  @include mQuery(m) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }
}
